name: C++ Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libglfw3-dev libgl1-mesa-dev libx11-dev libxi-dev libxrandr-dev libinerama-dev libxcursor-dev

    - name: Install Just
      uses: extractions/setup-just@v2

    - name: Build Project
      run: just build

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: gengine-binary
        path: gengine-bin